#ui-$param.model._id $param._empty .main {
	$if(param.model.bgd.backgroundColor)
		background-color: $param.model.bgd.backgroundColor;
	$end
	color: $param.model.color;
}

#ui-$param.model._id $param._empty .center-0 .tit {
	color: $param.model.color;
}

#ui-$param.model._id $param._empty .center-1 .tit {
	$if(param.model.navBgd.backgroundImage)
		background-image: url($param.model.navBgd.backgroundImage);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	$else
      $if(param.model.navBgd.backgroundColor)
          background-color: $param.model.navBgd.backgroundColor;
      $end
		border: 1px solid #dddddd;
		border-radius: 3px;
	$end
	color: $param.model.color;
}