<div class="ui-form" id="ui-$param.model._id" data-approach='$param.model.approach.jsonText' data-stress='$param.model.stress.jsonText'>
  <form action="/home/from-submit" data-formid="$param.model.formId"
    class="ui-control-layout center-$param.model.format" id="ui-form-$param.model._id">
    <div class="main">
      <div class="list">
        $foreach(item in param.model.fields)
        $if(item.isNe)
        $else
				
        $if(param.model.isFreeLayout)
        <div class="rows" style="position: absolute; width: ${item.wd}px; height: ${item.he}px; left: ${item.x}px; top: ${item.y}px; z-index: $item.z;">
        $else
        <div class="rows">
        $end
          $if(item.format == 0)
          <div class="inner">
            <div class="label">
              <label for="$item.isNull">$item.label</label>
              $if(item.isNull)
              $else
              <i>*</i>
              $end
            </div>
            <div class="control">
              <div class="text">
                $if(item.isNull)
                <input type="text" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="$item.maxSize" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px; line-height: ${item.he}px;" $end />
                $else
                <input type="text" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="$item.maxSize" data-required="required" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px; line-height: ${item.he}px;" $end />
                $end
              </div>
            </div>
          </div>
          $end

          $if(item.format == 1)
          <div class="inner">
            <div class="label">
              <label for="$item.isNull">$item.label</label>
              $if(item.isNull)
              $else
              <i>*</i>
              $end
            </div>
            <div class="control">
              <div class="textarea">
                $if(item.isNull)
                <textarea type="text" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="$item.maxSize" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px;" $end></textarea>
                $else
                <textarea type="text" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="$item.maxSize" data-required="required" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px;" $end></textarea>
                $end
              </div>
            </div>
          </div>
          $end

          $if(item.format == 2)
          <div class="inner" $if(param.model.isFreeLayout) style="margin-bottom: 40px;" $end>
            <div class="label">
              <label for="$item.isNull">$item.label</label>
              $if(item.isNull)
              $else
              <i>*</i>
              $end
            </div>
            <div class="control">
              <div class="text">
                $if(item.isNull)
                <input type="phone" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="11" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px; line-height: ${item.he}px;" $end />
                $else
                <input type="phone" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="11" data-required="phone" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px; line-height: ${item.he}px;" $end />
                $end
                
                $if(param.model.isFormSmsVy && item.isSv)
                <div class="sendsms" id="scode-$item.id" onclick="app.sendSms($item.id)">
                  <span>发送验证码</span>
                </div>
                $end
              </div>
            </div>
          </div>

          $if(param.model.isFormSmsVy && item.isSv)
          <div class="inner">
            <div class="label">
              <label for="checkCode">验证码</label>
              <i>*</i>
            </div>
            <div class="control">
              <div class="text">
                <input type="text" value="" name="checkCode" label="验证码" placeholder="请输入验证码" maxlength="6" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px; line-height: ${item.he}px;" $end />
              </div>
            </div>
          </div>
          $end
          $end

          $if(item.format == 3)
          <div class="inner">
            <div class="label">
              <label for="$item.isNull">$item.label</label>
              $if(item.isNull)
              $else
              <i>*</i>
              $end
            </div>
            <div class="control">
              <div class="select">
                $if(item.isNull)
                <select name="$item.id">
                  $foreach(item2 in item.data)
                  <option value="$item2" key="$index2">$item2</option>
                  $end
                </select>
                $else
                <select name="$item.id" label="$item.label" placeholder="$item.placeholder" data-required="required" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px; line-height: ${item.he}px;" $end>
                  $foreach(item2 in item.data)
                  <option value="$item2" key="$index2">$item2</option>
                  $end
                </select>
                $end
              </div>
            </div>
          </div>
          $end

          $if(item.format == 5)
          <div class="inner">
            <div class="label">
              <label for="$item.isNull">$item.label</label>
              $if(item.isNull)
              $else
              <i>*</i>
              $end
            </div>
            <div class="control">
              <div class="text">
                $if(item.isNull)
                <input type="text" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="16" $if(item.isNb) readonly style="background: #d7d7d7;" $end onkeyup="app.formatForceNumber(this)" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px; line-height: ${item.he}px;" $end />
                $else
                <input type="text" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="16" data-required="number" $if(item.isNb) readonly style="background: #d7d7d7;" $end onkeyup="app.formatForceNumber(this)" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px; line-height: ${item.he}px;" $end />
                $end
              </div>
            </div>
          </div>
          $end

          $if(item.format == 6)
          <div class="inner">
            <div class="label">
              <label for="$item.isNull">$item.label</label>
              $if(item.isNull)
              $else
              <i>*</i>
              $end
            </div>
            <div class="control">
              <div class="radio">
                $if(item.isNull)
                  $foreach(item2 in item.data)
                  <label class="item">
                    <input type="radio" name="$item.id" value="$item2.id" label="$item.label" placeholder="$item.placeholder" />
                    <span>$item2.text</span>
                  </label>
                  $end
                $else
                  $foreach(item2 in item.data)
                  <label class="item">
                    <input type="radio" name="$item.id" value="$item2.id" label="$item.label" data-required="required" placeholder="$item.placeholder"  />
                    <span>$item2.text</span>
                  </label>
                  $end
                $end
              </div>
            </div>
          </div>
          $end

          $if(item.format == 7)
          <div class="inner">
            <div class="label">
              <label for="$item.isNull">$item.label</label>
              $if(item.isNull)
              $else
              <i>*</i>
              $end
            </div>
            <div class="control">
              <div class="checkbox">
                $if(item.isNull)
                  $foreach(item2 in item.data)
                  <label class="item">
                    <input type="checkbox" name="$item.id" value="$item2.id" label="$item.label" placeholder="$item.placeholder" />
                    <span>$item2.text</span>
                  </label>
                  $end
                $else
                  $foreach(item2 in item.data)
                  <label class="item">
                    <input type="checkbox" name="$item.id" value="$item2.id" label="$item.label" data-required="required" placeholder="$item.placeholder"  />
                    <span>$item2.text</span>
                  </label>
                  $end
                $end
              </div>
            </div>
          </div>
          $end

          $if(item.format == 9)
          <div class="inner">
            <div class="label">
              <label for="$item.isNull">$item.label</label>
              $if(item.isNull)
              $else
              <i>*</i>
              $end
            </div>
            <div class="control">
              <div class="huxing" id="hx-$param.model._id">
                <div class="txt" $if(param.model.isFreeLayout) style="height: ${item.he}px; min-height: ${item.he}px; line-height: ${item.he}px;" $else style="height: 40px; line-height: 40px;" $end >
                  <dl>
                    <dd>$item.placeholder</dd>
                  </dl>
                  $if(item.isNull)
                  <input type="hidden" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="$item.maxSize" readonly />
                  $else
                  <input type="hidden" value="$item.data" name="$item.id" label="$item.label" placeholder="$item.placeholder" maxlength="$item.maxSize" readonly data-required="huxing" />
                  $end
                  <div class="f"></div>
                </div>
              </div>
            </div>
          </div>
          $end
        </div>
        $end
        $end

        $if(param.model.isFreeLayout)
        <div class="foot" style="position: absolute; padding: 0; width: ${param.model.button.wd}px; height: ${param.model.button.he}px; left: ${param.model.button.x}px; top: ${param.model.button.y}px; z-index: $param.model.button.z;">
        $else
        <div class="foot" >
        $end
          <div class="submit">
            <input type="submit" name="submit" value="$param.model.button.text" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>