$set(model = param.model)
<div 
  id="ui-$model._id"
  class="ui-fullmeasure ui-item"
  data-approach='$param.model.approach.jsonText' 
  data-stress='$param.model.stress.jsonText' 
  style="
  width: 100%;
  height: ${if(model.height != null)}$model.height${else}300${end}px">
 <main 
  id="ui-$model._id"
  class="ui-fullmeasure__wrap">
  $if(model.isCarousel)
    <div class="container">
      $foreach(item in model.permutation)
      <a href="$item.href.url" target="$item.href.target">
        <div 
          class="collapse-child" 
          style="overflow: hidden;position: relative;">
          $item.child
        </div>
      </a>
      $end
    </div>
  $else
    $if(model.href.url != '')
      <a
        class="sub-container" 
        href="$model.href.url" 
        target="$model.href.target">
        <div class="ui-sub">
          $model.child
        </div>
      </a>
    $else
      <div class="ui-sub">
        $model.child
      </div>
    $end
  $end
  </main>
</div>