<div class="ui-image-text" id="ui-$param.model._id">
  <div class="ui-control-layout center-$param.model.format">
    <a class="aimg">
      <img src="$param.model.pic" title="$param.model.caption" alt="$param.model.caption" />
    </a>
    <div class="about">
      <h3>$param.model.caption</h3>
      <p class="cont">$param.model.content</p>
      $if(param.model.picLink.url)
      <a class="amore" style="display: block;" href="$param.model.picLink.url">$param.model.picLink.title</a>
      $end
    </div>
  </div>
</div>