<div class="ui-product-center" id="ui-$param.model._id">
  <div class="ui-control-layout center-$param.model.format">
    $if(param.model.format == 0)
      <div class="panel">
        <h3>$param.model.title</h3>
        <ul class="menu">
          $foreach(item in param.model._category)
          <li>
            <a href="$item.link" title="$item.title" target="_blank">$item.title</a>
          </li>
          $end
        </ul>
        <dl class="tel">
          <dt>咨询热线</dt>
          <dd>$param._contactPhone</dd>
        </dl>
      </div>
      <div class="main">
        <ul class="list">
          $foreach(item in param.model._productData)
          <li class="item ui-column-$param.model.columnFormat">
            <div class="cell">
              <div class="mack">
                <div class="img ui-scale-$param.model.scale">
                  <a href="$item.link" target="_blank" title="$item.title">
                    <img src="$item.pic" alt="$item.title" title="$item.title"/>
                  </a>
                </div>
                $if(item.qrCode)
                <div class="rcode">
                  <a href="$item.link" title="$item.title">
                    <img src="$item.qrCode" />
                    <span>扫码购买</span>
                  </a>
                </div>
                $end
              </div>
              <div class="exp">
                <h3 >
                  <a href="$item.link" title="$item.title" target="_blank">$item.title</a>
                </h3>
              </div>
            </div>
          </li>
          $end
        </ul>
      </div>
$elseif(param.model.format == 1)
<div class="panel">
        <h3>$param.model.title</h3>
        <ul class="menu">
          $foreach(item in param.model.category)
          <li>
            <a href="$item.link" title="$item.title" target="_blank">$item.title</a>
          </li>
          $end
        </ul>
<div class="contact">
                <dl class="tel">
                  <dt>咨询热线</dt>
                  <dd>$param._contactPhone</dd>
                </dl>
$if(param.model.footerPic!='')
                <img src="$param.model.footerPic" />$end
              </div>
      </div>
      <div class="main">
        <ul class="list">
          $foreach(item in param.model.productData)
          <li class="item ui-column-$param.model.columnFormat">
            <div class="cell">
              <div class="mack">
                <div class="img ui-scale-$param.model.scale">
                  <a href="$item.link" target="_blank" title="$item.title">
                    <img src="$item.pic" alt="$item.title" title="$item.title"/>
                  </a>
                </div>
                $if(item.qrCode)
                <div class="rcode">
                  <a href="$item.link" title="$item.title">
                    <img src="$item.qrCode" />
                    <span>扫码购买</span>
                  </a>
                </div>
                $end
              </div>
              <div class="exp">
                <h3 >
                  <a href="$item.link" title="$item.title" target="_blank">$item.title</a>
                </h3>
              </div>
            </div>
          </li>
          $end
        </ul>
      </div>
    $end

  </div>
</div>