<div class="ui-many-image" id="ui-$param.model._id">
  <div class="center-$param.model.format">
    <div class="banner">
      <div class="bd">
        <ul class="list">
          $foreach(item in param.model.data)
          <li class="item">
            <a href="$item.url">
              <img src="$item.pic" alt="$item.title" title="$item.title" />
            </a>
          </li>
          $end
        </ul>
      </div>
      <div class="hd">
        <ul></ul>
      </div>
    </div>
  </div>
</div>