<div class="ui-article-list" id="ui-$param.model._id">
  <div class="ui-control-layout center-$param.model.format">
    $if(param.model.format == 0)
    <ul class="list">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item">
        <a href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="exp">
            <h3>$item.title</h3>
            <p>$item.caption</p>
            <div class="time"><span>日期：$date.month-$date.day</span><span>浏览量：$item.scan</span></div>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 1)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item">
        <a href="$item.link" title="$item.title">
          <span class="time"><strong>$date.month - $date.day</strong>$date.year</span>
          <h3>$item.title</h3>
          <div class="tit">$item.caption</div>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 2)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <div class="txt">
            <h3>$item.title</h3>
            <p>$item.caption</p>
            <div class="time"><span>日期：$date.month-$date.day</span><span>浏览量：$item.scan</span></div>
          </div>
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 3)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <div class="txtBox">
            <h3 class="tit">$item.title</h3>
            <div class="txt">$item.caption</div>
            <div class="desc">
              <span>日期：$date.month-$date.day</span>
            </div>
          </div>
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 4)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <h3>$item.title</h3>
          <p>$item.caption</p>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 5)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3>$item.title</h3>
            <p>
              <i>$date.year - $date.month - $date.day</i>
            </p>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 6)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3>$item.title</h3>
            <span>$date.year - $date.month - $date.day</span>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 7)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3 class="tit">$item.title</h3>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end
    $if(param.model.format == 8)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3 class="tit">$item.title</h3>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 9)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3 class="tit">$item.title</h3>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 10)
    <div class="swiper-container">
      <div class="swiper-wrapper">
        $foreach(item in param.model.data)
        <div class="swiper-slide">
          <a href="$item.link" title="$item.title">
            <div class="imgm">
              <figure class="img ui-scale-$param.model.scale">
                <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
              </figure>
            </div>
            <div class="txt">
              <h3 class="tit">$item.title</h3>
            </div>
          </a>
        </div>
        $end
      </div>
      <div class="swiper-pagination swiper-pagination-bullets"></div>
    </div>
    $end

    $if(param.model.format == 11)
    <div class="swiper-container">
      <div class="swiper-wrapper">
        $foreach(item in param.model.data)
        <div class="swiper-slide">
          <a href="$item.link" title="$item.title">
            <div class="imgm">
              <figure class="img ui-scale-$param.model.scale">
                <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
              </figure>
            </div>
            <h3 class="tit">$item.title</h3>
          </a>
        </div>
        $end
      </div>
      <div class="swiper-pagination swiper-pagination-bullets"></div>
    </div>
    $end

    $if(param.model.format == 12)
    <div class="swiper-container">
      <div class="swiper-wrapper">
        $foreach(item in param.model.data)
        <div class="swiper-slide">
          <a href="$item.link" title="$item.title">
            <div class="imgm">
              <figure class="img ui-scale-$param.model.scale">
                <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
              </figure>
            </div>
            <h3 class="tit">$item.title</h3>
          </a>
        </div>
        $end
      </div>
      <div class="swiper-pagination swiper-pagination-bullets"></div>
    </div>
    $end

    $if(param.model.format == 13)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3 class="tit">$item.title</h3>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end

    $if(param.model.format == 14)
    <ul class="newslist">
      $foreach(item in param.model.data)
      $set(date = getObjectDate(item.createDate))
      <li class="item clearfix">
        <a href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3 class="tit">$item.title</h3>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end
  </div>
</div>