<div class="ui-wrapper" id="ui-wrapper">
  <div class="ui-control-layout ui-control-layout-$param.model.flex">
    <div class="ui-path" id="ui-path">
      <h2>$param.model.pageCaption</h2>
      <dl class="path">
        <dt>您的位置：</dt>
        $foreach(p in param.model.navigation)
          <dd><a href="$p.link">$p.title</a></dd>
        $end
        <dd><span>$param.model.pageCaption</span></dd>
      </dl>
    </div>
    <div class="ui-menuer-v2" id="ui-menuer">
      <h2>栏目分类</h2>
      $if(param.model.category !=null)
      <ul class="list">
        $foreach(item in param.model.category)
          $if(item.isCurrent)
            <li class="item active">
              <span class="link">$item.title</span>
              <div class="drop">
                <div class="trigger">
                  <i></i>
                </div>
                <dl class="list2">
                  $foreach(item2 in item.child)
                  <dd class="item2">
                    <a href="$item2.link" class="link2" title="$item2.title">$item2.title</a>
                  </dd>
                  $end
                </dl>
              </div>
            </li>
          $else
            <li class="item">
              <a href="$item.link" class="link" title="$item.title">$item.title</a>
              <div class="drop">
                <div class="trigger">
                  <i></i>
                </div>
                <dl class="list2">
                  $foreach(item2 in item.child)
                  <dd class="item2">
                    <a href="$item2.link" class="link2" title="$item2.title">$item2.title</a>
                  </dd>
                  $end
                </dl>
              </div>
            </li>
          $end
        $end
      </ul>
      $end
      <dl class="foot">
        <dt>服务热线</dt>
        <dd>$param.model.contactPhone</dd>
      </dl>
    </div>
    <div class="ui-container">
      <div class="ui-content">
        <div class="ui-about" id="ui-$param.model._id">
          <div class="center-$param.model.format">
            <div class="ui-article clearfix">
              $if(param.model.content !=null)
              $param.model.content
              $else
              <div class="nodata">
                <img src="https://saas-image.jingwxcx.com/view/01/no-data.png" />
              </div>
              $end
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>