<div class="ui-page-product-detail">
  <div class="center-0">
    <div class="content showpro">
      <div class="imgtog" id="banner">
        <div class="bd">
          <ul class="list clearfix">
            $foreach(item in param.model.product.bigImage)
            <li class="item">
              <a class="ui-scale-$param.model.scale" href="javascript:void(0);">
                <img src="$item" title="$param.model.product.title" alt="$param.model.product.title" />
                </a>
            </li>
            $end
          </ul>
        </div>
        <div class="hd">
          <ul class="iconList"></ul>
        </div>
      </div>
      <div class="procon">
        <article>
          <h1 class="title">$param.model.product.title</h1>
          <div class="show-tit">产品介绍</div>
          <div class="contxt">$param.model.product.context</div>
          <div class="reLink clearfix">
            <div class="prevLink fl"><span>上一篇：</span>$if(param.model.prev.title==null)<span>暂无数据</span>$else <a
                href="$param.model.prev.link" title="$param.model.prev.title">$param.model.._prev.title</a>$end
            </div>
            <div class="nextLink fr"><span>下一篇：</span>$if(param.model.next.title==null)<span>暂无数据</span>$else <a
                href="$param.model.next.link" title="$param.model.next.title">$param.model.next.title</a>$end</div>
          </div>
        </article>
      </div>
      <div class="recomcon">
        <h3 class="tit2">产品推荐</h3>
        <ul class="gridlist clearfix">
          $foreach(item in param.model.popularize)
          <li class="item">
            <a href="$item.link" title="$item.title">
              $if(param.model.scale == -1)
              <figure class="ui-scale-$param.scale" data-label="默认比例">
                <img src="$item.pic" title="$item.title" alt="$item.title" />
              </figure>
              $else
              <figure class="ui-scale-$param.model.scale" data-label="独立比例">
                <img src="$item.pic" title="$item.title" alt="$item.title" />
              </figure>
              $end
              <h3 class="tit">$item.title</h3>
            </a>
          </li>
          $end
        </ul>
      </div>
    </div>
  </div>
</div>