<div class="ui-product-list" id="ui-$param.model._id">
  <div class="ui-control-layout center-$param.model.format">
    $if(param.model.format == 7)
    <ul class="list clearfix">
      $foreach(item in param.model.data)
      <li class="item clearfix">
        <a class="a1" href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3>$item.title</h3>
            <p class="tips">质量可靠</p>
            <p class="price">价格面议</p>
          </div>
        </a>
      </li>
      $end
    </ul>

    $elseif(param.model.format == 8)
    <ul class="list clearfix">
      $foreach(item in param.model.data)
      <li class="item clearfix">
        <a class="a1" href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3>$item.title</h3>
          </div>
        </a>
      </li>
      $end
    </ul>

    $else
    <ul class="list clearfix">
      $foreach(item in param.model.data)
      <li class="item">
        <a href="$item.link" title="$item.title">
          <div class="imgm">
            <figure class="img ui-scale-$param.model.scale">
              <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
            </figure>
          </div>
          <div class="txt">
            <h3>$item.title</h3>
          </div>
        </a>
      </li>
      $end
    </ul>
    $end

  </div>
</div>