<div class="ui-wrapper" id="ui-wrapper">
  <div class="ui-control-layout ui-control-layout-$param.model.flex">
    <div class="ui-path" id="ui-path">
      <h2>$param.model.product.categoryTitle</h2>
      <dl class="path">
        <dt>您的位置：</dt>
        $foreach(p in param.model.navigation)
          <dd><a href="$p.link">$p.title</a></dd>
        $end
        <dd><a href="$param.model.product.categoryLink" title="$param.model.product.categoryTitle">$param.model.product.categoryTitle</a></dd>
        <dd><span>详情</span></dd>
      </dl>
    </div>
    $if(param.model.flex != 0)
    <div class="ui-menuer-v2" id="ui-menuer">
      <h2>栏目分类</h2>
      <ul class="list">
        $if(param.model.category != null)
          $foreach(item in param.model.category)
            $if(item.isCurrent)
              <li class="item active">
                <span class="link">$item.title</span>
                <div class="drop">
                  <div class="trigger">
                    <i></i>
                  </div>
                  <dl class="list2">
                    $foreach(item2 in item.child)
                    <dd class="item2">
                      <a href="$item2.link" class="link2" title="$item2.title">$item2.title</a>
                    </dd>
                    $end
                  </dl>
                </div>
              </li>
            $else
              <li class="item">
                <a href="$item.link" class="link" title="$item.title">$item.title</a>
                <div class="drop">
                  <div class="trigger">
                    <i></i>
                  </div>
                  <dl class="list2">
                    $foreach(item2 in item.child)
                    <dd class="item2">
                      <a href="$item2.link" class="link2" title="$item2.title">$item2.title</a>
                    </dd>
                    $end
                  </dl>
                </div>
              </li>
            $end
          $end
        $else
          <li class="item active">
            <span>$param.model.curGroupTitle</span>
          </li>
        $end
      </ul>
      <dl class="foot">
        <dt>服务热线</dt>
        <dd>$param._contactPhone</dd>
      </dl>
    </div>
    $end
    <div class="ui-container">
      <div class="ui-content">
        <div class="ui-product-detail" id="ui-$param.model._id">
          <div class="center-$param.model.format">
            <div class="tead">
              <div class="album" id="ui-album-$param.model._id">
                <div class="flayer" id="album">
                  <div class="list">
                    <ul>
                      $foreach(item in param.model.product.bigImage)
                      <li>
                        $if(param.model.scale == -1)
                        <div class="img ui-scale-$param._scale">
                          <img src="$item?x-bce-process=image/resize,w_800,h_800" title="$param.model.product.title" alt="$param.model.product.title" />
                        </div>
                        $else
                        <div class="img ui-scale-$param.model.scale">
                          <img src="$item?x-bce-process=image/resize,w_800,h_800" title="$param.model.product.title" alt="$param.model.product.title" />
                        </div>
                        $end
                      </li>
                      $end
                    </ul>
                  </div>
                  <div class="dots">
                    <ul>
                      $foreach(item in param.model.product.smallImage)
                      <li>
                        $if(param.model.scale == -1)
                        <div class="img ui-scale-$param._scale">
                          <img src="$item" title="$param.model.product.title" alt="$param.model.product.title" />
                        </div>
                        $else
                        <div class="img ui-scale-$param.model.scale">
                          <img src="$item" title="$param.model.product.title" alt="$param.model.product.title" />
                        </div>
                        $end
                      </li>
                      $end
                    </ul>
                  </div>
                  <div class="prev">
                    <i></i>
                  </div>
                  <div class="next">
                    <i></i>
                  </div>
                  <div class="preview">
                    <i></i>
                  </div>
                  <div class="close">
                    <i></i>
                  </div>
                </div>
              </div>
              <div class="exp">
                <h1>$param.model.product.title</h1>
                $if(param.model.product.qrCode)
                <div class="rcode">
                  <img src="$param.model.product.qrCode" title="$param.model.product.title" alt="$param.model.product.title" />
                  <span>扫码立即购买</span>
                </div>
                $end
                $if(param.model.contactPhone)
                <dl class="tel">
                  <dt>咨询热线：</dt>
                  <dd>$param.model.contactPhone</dd>
                </dl>
                $end
              </div>
            </div>
            <div class="ui-article">
              <div class="top-title"><h3>产品详情</h3></div> 
              $param.model.product.context
            </div>
            <div class="ui-relink">
              <ul>
                <li>上一篇：$if(param.model.prev) <a href="$param.model.prev.link" title="$param.model.prev.title">$param.model.prev.title</a> $else <span>暂无数据</span> $end</li>
                <li>下一篇：$if(param.model.next) <a href="$param.model.next.link" title="$param.model.next.title">$param.model.next.title</a> $else <span>暂无数据</span> $end</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ui-random">
          <div class="center-0">
            <div class="head">
              <h2>推荐商品</h2>
            </div>
            <div class="scroll" id="ui-random-$param.model._id">
              <div class="list">
                <ul>
                  $foreach(item in param.model.popularize)
                  <li class="item">
                    <div class="cell">
                      <div class="mack"><a href="$item.link" title="$item.title" target="_blank">
                        $if(param.model.scale == -1)
                        <div class="img ui-scale-$param._scale">
                          <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
                        </div>
                        $else
                        <div class="img ui-scale-$param.model.scale">
                          <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
                        </div>
                        $end
                      </a></div>
                      <div class="exp">
                        <h3>
                          <a href="$item.link" title="$item.title" target="_blank">$item.title</a>
                        </h3>
                      </div>
                    </div>
                  </li>
                  $end
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>