.ui-tabedx-ppl .ui-tabedx-ppl__block .ui-sub {
  width: 100% !important;
}
.ui-tabedx-ppl .ui-tabedx-ppl__wrap .wrap-btns {
  width: 100%;
  padding-bottom: 12px;
}
.ui-tabedx-ppl .ui-tabedx-ppl__wrap .wrap-btns .ui-tabedx-ppl__btn {
  margin-bottom: 5px;
  position: relative;
}
.ui-tabedx-ppl .ui-tabedx-ppl__wrap .wrap-btns .ui-tabedx-ppl__btn + .ui-tabedx-ppl .ui-tabedx-ppl__wrap .wrap-btns .ui-tabedx-ppl__btn {
  margin-left: 0;
}
.ui-tabedx-ppl .ui-tabedx-ppl__wrap .wrap-btns .ui-tabedx-ppl__btn .button-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 6px solid transparent;
  bottom: -12px;
  left: 50%;
  transform: translateX(-3px);
}
.ui-tabedx-ppl .ui-tabedx-ppl__wrap .wrap-content {
  width: 100%;
  position: relative;
}
.ui-tabedx-ppl .ui-tabedx-ppl__wrap .wrap-content .ui-sub {
  width: 100% !important;
}
.ui-tabedx-ppl .ui-tabedx-ppl__wrap .wrap-content .ui-article-list .ui-control-layout.center-17 {
  box-sizing: border-box;
}