#ui-menuer h2 {
  background-color: $param._defaultColor;
}

#ui-menuer .item.active span {
  background: $param._defaultColor;
}

#ui-menuer .foot dd {
  color: $param._defaultColor;
}

#ui-pager span.active {
  background-color: $param._defaultColor;
  border-color: $param._defaultColor;
}

#ui-$param.model._id $param._empty .center-0 .item:hover h3 a,
#ui-$param.model._id $param._empty .center-1 .item:hover h3 a,
#ui-$param.model._id $param._empty .center-2 .item:hover h3 a {
  color: $param._defaultColor;
}


.article-page-filter-list .filter-item .content .url-item a:hover,
.article-page-filter-list .filter-item .content .url-item a.active {
  background: $param._defaultColor;
  color: #fff;
}