$set(filter = param.model.filter)
$set(fields = filter.fields)
$set(format = param.model.flex)
<div class="ui-wrapper" id="ui-wrapper">
  <div class="ui-control-layout ui-control-layout-$param.model.flex">
    <div class="ui-path" id="ui-path">
      <h2>$param.model.title</h2>
      <dl class="path">
        <dt>您的位置：</dt>
        $foreach(p in param.model.navigation)
        <dd><a href="$p.link">$p.title</a></dd>
        $end
        <dd><span>$param.model.title</span></dd>
      </dl>
    </div>
    $if(filter.isOpen == true && format == 0)
    <ul class="article-page-filter-list">
      $foreach(field in fields)
      <li class="filter-item">
        <div class="header">
          <span class="title" title="$field.label">$field.label</span>
        </div>
        <div class="content">
          $foreach(item in field.nodes)
            <div class="url-item">
              <a  
                class=" $if(item.isCurrent) active $end" 
                href="$item.url">
              $item.text
            </a>
            </div>
          $end
        </div>
      </li>
      $end
    </ul>
    $end
    $if(filter.isOpen ==  false || format == 1)
    <div class="ui-menuer-v2" id="ui-menuer">
      <h2>栏目分类</h2>
      $if(param.model.category.length > 0)
      <ul class="list">
        $if(param.model.category != null)
          $foreach(item in param.model._category)
            $if(item.isCurrent)
              <li class="item active">
                <span class="link">$item.title</span>
                <div class="drop">
                  <div class="trigger">
                    <i></i>
                  </div>
                  <dl class="list2">
                    $foreach(item2 in item.child)
                    <dd class="item2">
                      <a href="$item2.link" class="link2" title="$item2.title">$item2.title</a>
                    </dd>
                    $end
                  </dl>
                </div>
              </li>
            $else
              <li class="item">
                <a href="$item.link" class="link" title="$item.title">$item.title</a>
                <div class="drop">
                  <div class="trigger">
                    <i></i>
                  </div>
                  <dl class="list2">
                    $foreach(item2 in item.child)
                    <dd class="item2">
                      <a href="$item2.link" class="link2" title="$item2.title">$item2.title</a>
                    </dd>
                    $end
                  </dl>
                </div>
              </li>
            $end
          $end
        $else
          <li class="item active">
            <span>$param.model.title</span>
          </li>
        $end
      </ul>
      $end
      <dl class="foot">
        <dt>服务热线</dt>
        <dd>$param._contactPhone</dd>
      </dl>
    </div>
    $end
    <div class="ui-container">
      <div class="">
        <div class="ui-page-article-list" id="ui-$param.model._id">
          <div class="center-$param.model.format">
            <ul class="list">
              $if(param.model.total ==0)
              <div class="nodata"><img src="https://saas-image.jingwxcx.com/view/01/no-data.png" /></div>
              $else
              $foreach(item in param.model.articeData)
              $set(date = getObjectDate(item.createDate))
              $if(param.model.format==0)
              <li class="item">
                <a class="clearfix" href="$item.link" title="$item.title" target="_blank">
                  <div class="cell">
                    <div class="img ui-scale-$param.model.scale">
                      $if(item.pic)
                        <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title">
                      $else
                        <img src="https://saas-image.jingwxcx.com/upload_files/2020/10/16/b02d2ed168c2043c079bb2bcc8d26943.png" title="$item.title" alt="$item.title">
                      $end
                    </div>
                  </div>
                  <div class="time">
                    <span class="day">$date.month-$date.day</span><span>$date.year</span><span
                      class="views">浏览量：$item.scan</span>
                  </div>
                  <h3>$item.title</h3>
                  <div class="txt">$item.caption</div>
                </a>
              </li>
              $elseif(param.model.format==1)
              <li class="item ui-column-$param.model.columnFormat">
                <div class="cell">
                  <div class="img">
                    <a href="$item.link" title="$item.title" target="_blank" class="ui-scale-$param.model.scale">
                      $if(item.pic)
                        <img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title">
                      $else
                        <img src="https://saas-image.jingwxcx.com/upload_files/2020/10/16/b02d2ed168c2043c079bb2bcc8d26943.png" title="$item.title" alt="$item.title">
                      $end
                    </a>
                  </div>
                  <h3>
                    <a href="$item.link" title="$item.title" target="_blank">$item.title</a>
                  </h3>
                </div>
              </li>
              $elseif(param.model.format==2)
              <li class="item">
                <div class="cell">
                  <h3>
                    <a href="$item.link" title="$item.title" target="_blank">$item.title</a>
                  </h3>
                  <div class="txt">
                    <span>$item.caption</span>
                  </div>
                  <div class="time">
                    <span>$date.year-$date.month-$date.day</span>
                    <span>$item.scan次浏览</span>
                  </div>
                </div>
              </li>
              $end
              $end
              $end
            </ul>
          </div>
        </div>
        <div class="ui-pager" id="ui-pager">
          $foreach(item in param.model.page)
            $if(item.isFix)
              <span>...</span>
            $else
              $if(item.isCurrent)
                <span class="active">$item.val</span>
              $else
                <a href="$item.link">$item.val</a>
              $end
            $end
          $end
        </div>
      </div>
    </div>
  </div>
</div>
