#ui-$param.model._id {
  background-color: $param.model.backgroundColor;
  $if(param.model.backgroundImage)
    background-image: url($param.model.backgroundImage.image);
    background-position: $param.model.backgroundImage.position;
    // background-repeat: $param.model.backgroundImage.repeat;
  $end
  padding: $param.model.padding;
  text-align: $param.model.align;
}
#ui-$param.model._id $param._empty .text{$if(param.model.isBold)font-weight:bold; $else font-weight:normal; $end;}
#ui-$param.model._id $param._empty .center-0 .text {
  font-size: $param.model.fontSize;
  color: $param.model.fontColor;
}