#ui-$param.model._id {
	background-color: $param.model.backgroundColor;
    $if(param.model.backgroundImage != null && param.model.backgroundImage != '')
    	background-image:url($param.model.backgroundImage);
    $end
}

#ui-$param.model._id $param._empty .ui-control-layout {
	padding-bottom: .6rem;
}

#ui-$param.model._id $param._empty h3 {
	color:$param.model.fontColor;
}

#ui-$param.model._id $param._empty h3 {
	font-size: .36rem;
    padding-top: .3rem;
}

#ui-$param.model._id $param._empty .cont {
	color: $param.model.fontColor;
}

#ui-$param.model._id $param._empty .-amore {
	background-color: $param._defaultColor;
	color: #fff;
}