#ui-$param.model._id .search {
	background-color: $param.model.backgroundColor;
}

#ui-$param.model._id .input input {
	height: ${param.model.height}px;
	line-height: ${param.model.height}px;
	$if(param.model.format == 1) border-radius: ${param.model.height}px; $end
	color: $param.model.color;
}
