#ui-$param.model._id $param._empty {
	height: ${param.model.height}rem;
	$if(param.model.backgroundColor)
		background-color: $param.model.backgroundColor;
	$end
}

#ui-$param.model._id $param._empty .placeholder {
	height:100%;
}