#ui-$param.model._id {
  $if(param.model.bgd.backgroundColor)
		background-color: $param.model.bgd.backgroundColor;
	$end
  $if(param.model.bgd.backgroundImage)
    background-image: url($param.model.bgd.backgroundImage);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  $end
}

#ui-$param.model._id $param._empty .center-4 .date i {
  color: $param._defaultColor;
}

#ui-$param.model._id $param._empty .center-4 .item:hover h3 {
  color: $param._defaultColor;
}

#ui-$param.model._id $param._empty .center-4 .item2:hover h3 {
  color: $param._defaultColor;
}

#ui-$param.model._id $param._empty .center-5 .date {
  background-color: $param._defaultColor;
}

#ui-$param.model._id $param._empty .center-6 .list {
  background-color: $param.model.backgroundColor;
  $if(param.model.backgroundImage)
    background-image: url($param.model.backgroundImage);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  $end
}

#ui-$param.model._id $param._empty .center-8 .exp span {
  background: $param._defaultColor;
}

#ui-$param.model._id $param._empty .center-13 .main {
  visibility: hidden;
}

#ui-$param.model._id $param._empty .center-4 .img,
#ui-$param.model._id $param._empty .center-5 .img,
#ui-$param.model._id $param._empty .center-8 .img,
#ui-$param.model._id $param._empty .center-12 .cell-img,
#ui-$param.model._id $param._empty .center-16 .cell-img,
#ui-$param.model._id $param._empty .center-10 .cell-img,
#ui-$param.model._id $param._empty .center-11 .cell,
#ui-$param.model._id $param._empty .center-13 .cell {
  border-radius: ${param.model.radius}px;
	overflow: hidden;
}

#ui-$param.model._id $param._empty .center-13 .cell,
#ui-$param.model._id $param._empty .center-11 .cell,
#ui-$param.model._id $param._empty .center-10 .cell {
	$if(param.model.textBd.def == "")
		box-shadow: none;
	$else
		box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	$end
	background-color: $param.model.textBd.def;
}

#ui-$param.model._id $param._empty .center-13 .cell .cell-exp,
#ui-$param.model._id $param._empty .center-11 .cell .cell-exp {
	$if(param.model.isNt && param.model.isNd && param.model.isNdate)
		display: none;
	$end
	background-color: $param.model.textBd.def;
}

#ui-$param.model._id $param._empty .center-13 .cell .cell-title,
#ui-$param.model._id $param._empty .center-11 .cell .cell-title,
#ui-$param.model._id $param._empty .center-17 .cell .cell-title {
	$if(param.model.isNt)
		display: none;
	$end
	font-family: $param.model.tFont.fontFamily;
	font-size: ${param.model.tFont.fontSize}px;
	text-align: $param.model.tFont.textAlign;
}

#ui-$param.model._id $param._empty .center-9 .cell .cell-title,
#ui-$param.model._id $param._empty .center-10 .cell .cell-title {
  $if(param.model.isNt)
		display: none;
	$end
	font-family: $param.model.tFont.fontFamily;
	font-size: ${param.model.tFont.fontSize}px;
}

#ui-$param.model._id $param._empty .center-13 .cell .cell-title a,
#ui-$param.model._id $param._empty .center-11 .cell .cell-title a,
#ui-$param.model._id $param._empty .center-10 .cell .cell-title a,
#ui-$param.model._id $param._empty .center-9 .cell .cell-title a,
#ui-$param.model._id $param._empty .center-17 .cell .cell-title a {
	color: $param.model.tFont.color;
}

#ui-$param.model._id $param._empty .center-9 .cell .cell-title span {
	$if(param.model.isNdate)
		display: none;
	$end
	color: $param.model.dateFont.color;
	font-size: ${param.model.dateFont.fontSize}px;
}

#ui-$param.model._id $param._empty .center-13 .cell .cell-desc,
#ui-$param.model._id $param._empty .center-11 .cell .cell-desc {
	$if(param.model.isNd)
		display: none;
	$end
	font-family: $param.model.dFont.fontFamily;
	font-size: ${param.model.dFont.fontSize}px;
	text-align: $param.model.dFont.textAlign;
}

#ui-$param.model._id $param._empty .center-10 .cell .cell-desc,
#ui-$param.model._id $param._empty .center-9 .cell .cell-desc {
  $if(param.model.isNd)
		display: none;
	$end
	font-family: $param.model.dFont.fontFamily;
	font-size: ${param.model.dFont.fontSize}px;
}

#ui-$param.model._id $param._empty .center-13 .cell .cell-desc p,
#ui-$param.model._id $param._empty .center-11 .cell .cell-desc p,
#ui-$param.model._id $param._empty .center-10 .cell .cell-desc p,
#ui-$param.model._id $param._empty .center-9 .cell .cell-desc p {
	color: $param.model.dFont.color;
}

#ui-$param.model._id $param._empty .center-13 .cell .cell-date,
#ui-$param.model._id $param._empty .center-11 .cell .cell-date {
	$if(param.model.isNdate)
		display: none;
	$end
	font-family: $param.model.dateFont.fontFamily;
	font-size: ${param.model.dateFont.fontSize}px;
	text-align: $param.model.dateFont.textAlign;
}

#ui-$param.model._id $param._empty .center-10 .cell .cell-date {
  $if(param.model.isNdate)
		display: none;
	$end
	font-family: $param.model.dateFont.fontFamily;
	font-size: ${param.model.dateFont.fontSize}px;
}

#ui-$param.model._id $param._empty .center-13 .cell .cell-date span,
#ui-$param.model._id $param._empty .center-11 .cell .cell-date span,
#ui-$param.model._id $param._empty .center-10 .cell .cell-date span {
	color: $param.model.dateFont.color;
}

#ui-$param.model._id $param._empty .center-10 .cell:hover {
	background-color: $param.model.textBd.hov;
}

#ui-$param.model._id $param._empty .center-13 .cell:hover .cell-exp,
#ui-$param.model._id $param._empty .center-11 .cell:hover .cell-exp {
	background-color: $param.model.textBd.hov;
}

#ui-$param.model._id $param._empty .center-13 .cell:hover .cell-img img,
#ui-$param.model._id $param._empty .center-11 .cell:hover .cell-img img,
#ui-$param.model._id $param._empty .center-10 .cell:hover .cell-img img {
	transform: scale(1.1);
}

#ui-$param.model._id $param._empty .center-13 .cell:hover .cell-title a,
#ui-$param.model._id $param._empty .center-11 .cell:hover .cell-title a,
#ui-$param.model._id $param._empty .center-10 .cell:hover .cell-title a,
#ui-$param.model._id $param._empty .center-9 .cell:hover .cell-title a,
#ui-$param.model._id $param._empty .center-17 .cell:hover .cell-title a {
	color: $param.model.tFont.selectColor;
}

#ui-$param.model._id $param._empty .center-9 .cell:hover .cell-title span {
	color: $param.model.dateFont.selectColor;
}

#ui-$param.model._id $param._empty .center-13 .cell:hover .cell-desc p,
#ui-$param.model._id $param._empty .center-11 .cell:hover .cell-desc p,
#ui-$param.model._id $param._empty .center-10 .cell:hover .cell-desc p,
#ui-$param.model._id $param._empty .center-9 .cell:hover .cell-desc p {
	color: $param.model.dFont.selectColor;
}

#ui-$param.model._id $param._empty .center-13 .cell:hover .cell-date span,
#ui-$param.model._id $param._empty .center-11 .cell:hover .cell-date span,
#ui-$param.model._id $param._empty .center-10 .cell:hover .cell-date span {
	color: $param.model.dateFont.selectColor;
}

#ui-$param.model._id $param._empty .center-16 .cell-desc p a {
	color: #999999;
}

#ui-$param.model._id $param._empty .center-17 .main {
	border-radius: ${param.model.radius}px;
}

#ui-$param.model._id $param._empty .center-17 .dots {
	$if(param.model.isNt)
		bottom: 10px;
	$else
		bottom: 50px;
	$end
}

.ui-control-layout $param._empty #ui-$param.model._id,
.ui-sub $param._empty #ui-$param.model._id {
  position: absolute;
  left: ${param.model.x}px;
  top: ${param.model.y}px;
  z-index: ${param.model.z};
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout {
  width: ${param.model.width}px;
  height: ${param.model.height}px;
  box-sizing: border-box;
}


$if(param.model.format == 18)
#ui-$param.model._id $param._empty .center-18 .cell-exp {
	$if(param.model.textBd.def == "")
		box-shadow: none;
	$else
		box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	$end
	background-color: $param.model.textBd.def;
}
#ui-$param.model._id $param._empty .center-18 .cell-title {
	$if(param.model.isNt)
		display: none;
	$end
	font-family: $param.model.tFont.fontFamily;
	font-size: ${param.model.tFont.fontSize}px;
	text-align: $param.model.tFont.textAlign;
}
#ui-$param.model._id $param._empty .center-18 .cell-title a {
	color: $param.model.tFont.color;
}
#ui-$param.model._id $param._empty .center-18 .cell:hover .cell-exp {
	background-color: $param.model.textBd.hov;
}
#ui-$param.model._id $param._empty .center-18 .cell:hover .cell-title a {
	color: $param.model.tFont.selectColor;
}
$end