#ui-$param.model._id {
	z-index: ${param.model.z};
}

#ui-$param.model._id $param._empty .ui-control-layout {
	overflow: visible;
}

#ui-$param.model._id $param._empty .input {
	width: ${param.model.width}px;
	height: ${param.model.height}px;
}

#ui-$param.model._id $param._empty .type {
	height: ${param.model.height}px;
}

#ui-$param.model._id $param._empty .submit {
	height: ${param.model.height}px;
}

#ui-$param.model._id $param._empty .key a {
	color: #666666;
}

#ui-$param.model._id $param._empty .key a:hover {
	color: $param.model.backgroundColor;
}

$if(param.model.format == 0)
	#ui-$param.model._id $param._empty .search {
		background: $param.model.backgroundColor;
	}
	#ui-$param.model._id $param._empty .drop ul {
		border-color: $param.model.backgroundColor;
	}
	#ui-$param.model._id $param._empty .drop li:hover,
	#ui-$param.model._id $param._empty .drop li.act {
		color: $param.model.backgroundColor;
	}
	#ui-$param.model._id $param._empty .submit {
		background-color: $param.model.backgroundColor;
	}
$end

$if(param.model.format == 1)
	#ui-$param.model._id $param._empty .submit i {
		color: $param.model.backgroundColor;
	}
	#ui-$param.model._id $param._empty .drop li:hover,
	#ui-$param.model._id $param._empty .drop li.act {
		color: $param.model.backgroundColor;
	}
$end







.ui-control-layout $param._empty #ui-$param.model._id,
.ui-sub $param._empty #ui-$param.model._id {
  position: absolute;
  left: ${param.model.x}px;
  top: ${param.model.y}px;
  z-index: ${param.model.z};
  height: auto;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout {
  position: relative;
  width: ${param.model.width}px;
  height: auto;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout .panel,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout .panel {
  display: block;
  margin-left: 0;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout .panel .key,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout .panel .key {
  padding: 5px 0 0;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout .panel .key li,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout .panel .key li {
  line-height: 20px;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout.center-0 .search,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout.center-0 .search {
  display: block;
  position: relative;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout.center-0 .input,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout.center-0 .input {
  float: none;
width: 100%;
  padding: 0 70px 0 10px;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout.center-0 .submit,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout.center-0 .submit {
  position: absolute;
  top: 2px;
  right: 0;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout.center-0 .type + .input,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout.center-0 .type + .input {
  padding-left: 80px;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout.center-1 .search,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout.center-1 .search {
  display: block;
  position: relative;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout.center-1 .input,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout.center-1 .input {
  float: none;
  margin-left: 0 !important;
  padding-left: 40px;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout.center-1 .type,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout.center-1 .type {
  position: absolute;
  top: 0;
  right: 0;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout.center-1 .submit + .input,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout.center-1 .submit + .input {
  margin-left: 40px;
}
