<div class="ui-page-article-detail">
  <div class="center-0">
    <div class="content showInfo">
      <article>
        <h1 class="title">$param.model.article.title</h1>
        $set(date = getObjectDate(param.model.article.createDate))
        <aside class="mark">
          <span>发布日期：$date.year-$date.month-$date.day</span>$if(param.model.article.publisher)<span>发布人：$param.model.article.publisher</span>$end
          $if(param.model.article.informationSources)<span>来源：$param.model.article.informationSources</span>$end<span>浏览次数：$param.model.article.scan</span>
        </aside>
        $if(param.model.article.fields != null && param.model.article.fields.Length > 0)
        <div class="ui-fields">
          <ul class="lise">
            $foreach(item in param.model.article.fields)
            <li>$item.title：$item.fieldValue</li>
            $end
          </ul>
        </div>
        $end
        <div class="contxt">$param.model.article.content</div>
        $if(param.model.article.attachments != null && param.model.article.attachments.Length > 0)
        <div class="ui-attachments">
          <div class="tead">
            <h2>附件下载：</h2>
          </div>
          <ul class="lise">
            $foreach(item in param.model.article.attachments)
            $if(item.fileType=="jpg" || item.fileType=="jpeg" || item.fileType=="gif" || item.fileType=="png" ||
            item.fileType=="ico")
            <li>
              <img src="$item.fileAddress@w_20,h_20" title="$item.fileName" alt="$item.fileName" style="width: .3rem; height: .3rem; vertical-align: middle;" />
              <a href="$item.fileAddress" download="$item.fileName" target="_blank">$item.fileName</a>
              <span>（$item.createDate）</span>
            </li>
            $else
            <li>
              <i class="iconyun icon-$item.fileType"></i>
              <a href="$item.fileAddress" download="$item.fileName" target="_blank">$item.fileName</a>
              <span>（$item.createDate）</span>
            </li>
            $end
            $end
          </ul>
        </div>
        $end
        <div class="reLink clearfix">
          <div class="prevLink fl"><span>上一篇：</span> $if(param.model.prev.title==null)<span>暂无数据</span>$else <a
              href="$param.model.prev.link" title="$param.model.prev.title">$param.model.._prev.title</a>$end</div>
          <div class="nextLink fr"><span>下一篇：</span>$if(param.model.next.title==null)<span>暂无数据</span>$else <a
              href="$param.model.next.link" title="$param.model.next.title">$param.model.next.title</a>$end</div>
        </div>
      </article>
    </div>
  </div>
</div>