<div class="ui-webmap">
  <div class="list">
    $foreach(item in param.model.data)
    <div class="rows">
      <div class="head">
        <h3>
          <a href="$item.url">$item.title</a>
        </h3>
      </div>
      $if(item.nodes)
      <div class="sub">
        $foreach(item2 in item.nodes)
        <div class="rows2">
          <h3>
              <a href="$item2.url">$item2.title</a>
          </h3>
          $if(item2.nodes)
          <dl>
            $foreach(item3 in item2.nodes)
            <dd>
              <a href="$item3.url">$item3.title</a>
            </dd>
            $end
          </dl>
          $end
        </div>
        $end
      </div>
      $end
    </div>
    $end
  </div>
</div>