$set(model = param.model)
<main class="ui-tabedx-tpl ui-item" id="ui-$param.model._id">
    <div class="ui-tabedx-tpl__carousel">
      $foreach(item in model.rotation)
        <a href="$item.link" title="$item.title" target="_blank">
          <img src="$item.pic" title="$item.title" alt="$item.title">
          <article>$item.title</article>
        </a>
      $end
    </div>
    <div class="ui-tabedx-tpl__wrap">
      $foreach(item in model.permutation)
      <div class="button">$item.caption</div>
      <section>
        $item.child
      </section>
      $end
    </div>
</main>
