#ui-$param.model._id {
  background-color: $param.model.backgroundColor;
  $if(param.model.backgroundImage)
    background-image: url($param.model.backgroundImage)
  $end
}

#ui-$param.model._id $param._empty .center-0 {
	$if(param.model.isFill)
		width: 100% !important;
	$end
  height: ${param.model.height}px;
}

#ui-$param.model._id $param._empty .pointer img {
	$if(param.model.opacity != 0)
		opacity: ${param.model.opacity * 0.01};
	$end
}

#ui-$param.model._id $param._empty .drop.p3 .icon img,
#ui-$param.model._id $param._empty .drop.p4 .icon img {
	margin: ${param.model.hv.h * -0.5}px 0 0 0;
}

#ui-$param.model._id $param._empty .img:hover .touch-4 .pointer {
	box-shadow: ${param.model.sp.shadow.x}px ${param.model.sp.shadow.y}px ${param.model.sp.shadow.vague}px $param.model.sp.shadow.color;
}

#ui-$param.model._id $param._empty .border i {
	background: $param.model.sp.border.color;
}

#ui-$param.model._id $param._empty .border i.lf,
#ui-$param.model._id $param._empty .border i.rt {
	width: ${param.model.sp.border.w}px;
}

#ui-$param.model._id $param._empty .border i.tp,
#ui-$param.model._id $param._empty .border i.bm {
	height: ${param.model.sp.border.w}px;
}

.ui-control-layout $param._empty #ui-$param.model._id,
.ui-sub $param._empty #ui-$param.model._id {
	position: absolute;
	left: ${param.model.x}px;
	top: ${param.model.y}px;
	z-index: ${param.model.z};
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout {
	width: ${param.model.width}px;
	/*height: ${param.model.height}px;*/
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout .img,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout .img {
	/*height: ${param.model.height}px;*/
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout img,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout img {
	height: 100%;
}
.collapse-child {
	display:none;
}