<div class="ui-picture" id="ui-$param.model._id" data-approach='$param.model.approach.jsonText' data-stress='$param.model.stress.jsonText'>
  <div class="ui-control-layout center-$param.model.format">
    $if(param.model.isFill)
    <div class="img fill">
    $else
    <div class="img">
    $end
      <div class="touch-$param.model.sp.format" style="height: 100%;">
        $if(param.model.href.url)
        <a class="pointer" href="$param.model.href.url" target="$param.model.href.target">
        $else
        <div class="pointer">
        $end
          <img src="$param.model.pic" alt="$param.model.alt" />
          <div class="loupe">
            <div class="d">
              <i class="icon-loupe"></i>
            </div>
          </div>
          <div class="border">
            $if(param.model.sp.border.isLeft)<i class="lf"></i>$end
            $if(param.model.sp.border.isTop)<i class="tp"></i>$end
            $if(param.model.sp.border.isRight)<i class="rt"></i>$end
            $if(param.model.sp.border.isBottom)<i class="bm"></i>$end
          </div>
        $if(param.model.href.url)
        </a>
        $else
        </div>
        $end
        $if(param.model.hv.isCustom)
        <div class="drop p${param.model.hv.p}">
          <div class="icon">
            $if(param.model.hv.p == 0)
            <img src="$param.model.hv.pic" style="width: 100%; height: 100%;" />
            $else
            <img src="$param.model.hv.pic" style="width: ${param.model.hv.w}px; height: ${param.model.hv.h}px;" />
            $end
          </div>
        </div>
        $end
      </div>
    </div>
  </div>
</div>