#ui-$param.model._id $param._empty .ui-control-layout {
  $if(param.model.backgroundColor) 
      background-color: $param.model.backgroundColor;
  $end
}

#ui-$param.model._id $param._empty .ui-control-layout .menu a {
  $if(param.model.color) 
      color: $param.model.color;
  $end
}

#ui-$param.model._id $param._empty .center-4 {
	padding-bottom: .1rem;
}