<div class="ui-mulcol" id="ui-$param.model._id">
  <div
    class="ui-control-layout center-0"
    style="position:relative; background-color: $param.model.backgroundColor; margin:0 auto;">
    $foreach(item in param.model.permutation)
    <div
      class="ui-mulcol-rows"
      style="width: ${item.width}px;">
      <div class="ui-mulcol-cell">
        <div class="ui-mulcol-head">
          <h2>$item.caption</h2>
        </div>
        <div class="ui-mulcol-body">
          $item.child
        </div>
      </div>
    </div>
    $end
  </div>
</div>