<div class="ui-page-product-list">
  <div class="center-0">
    $if(param.model.category==null)
    $else
    <div class="catelist clearfix">
      $foreach(item in param.model.category)
      <a class="anav $param._empty $if(item.isCurrent) hover $end" href="$item.link#d">$item.title</a>
      $end
    </div>
    $end
    <div class="prolist" id="d">
      <ul class="list clearfix" id="list-content">
        $if(param.model.total ==0)
        <div class="nodata">
          <img src="https://saas-image.jingwxcx.com/view/01/no-data.png" />
        </div>
        $end
        $foreach(item in param.model.productData)
        <li class="item">
          <a href="$item.link" title="$item.title">
            <div class="imgm">
              <figure class="img ui-scale-$param.model.scale">
                $if(item.pic)
                	<img src="$item.pic?x-bce-process=image/resize,w_600,h_600/quality,q_50" title="$item.title" alt="$item.title" />
                $else
                	<img src="https://saas-image.jingwxcx.com/upload_files/2020/10/16/b02d2ed168c2043c079bb2bcc8d26943.png" title="$item.title" alt="$item.title" />
                $end
              </figure>
            </div>
            <h3 class="tit">$item.title</h3>
          </a>
        </li>
        $end
      </ul>
      $if(param.model.total ==0)
      $else
      $if(param.model.isNext)
      <div class="foot_page" id="foot_page">
        <span id="content-soap" atr-next="1">滑动查询更多</span>
      </div>
      $else
      <div class="foot_page" id="foot_page">
        <span id="content-soap" atr-next="0">已全部显示完</span>
      </div>
      $end
      $end
    </div>
  </div>
</div>