<div class="ui-video" id="ui-$param.model._id" data-approach='$param.model.approach.jsonText' data-stress='$param.model.stress.jsonText'>
  <div class="ui-control-layout">
    <div class="video-container">
      $if(param.model.autoMode == 0)
      <div class="cover">
      	<div class="play" data-code="$param.model.soureContent" data-poster="$param.model.cover" data-autoplay="$param.model.isAutoPlay">
        	<i class="cms-icon icon-bofang"></i>
        </div>
      </div>
      $end
      $if(param.model.soure == 0 && param.model.autoMode == 1)
      <video
        width="100%"
        height="100%"
        controls="controls"
        class="player"
        src="$param.model.soureContent"
        poster="$param.model.cover">
        <span>您的浏览器不支持 video 标签。</span>
      </video>
      $end
      $if(param.model.soure == 1 && param.model.autoMode == 1)
      <div class="iframe">
      	$param.model.soureContent
      </div>
      $end
    </div>
  </div>
</div>