.ui-control-layout $param._empty #ui-$param.model._id,
.ui-sub $param._empty #ui-$param.model._id {
	position: absolute;
	left: ${param.model.x}px;
	top: ${param.model.y}px;
	z-index: ${param.model.z};
	height: auto;
}

.ui-control-layout $param._empty #ui-$param.model._id .ui-control-layout,
.ui-sub $param._empty #ui-$param.model._id .ui-control-layout {
	width: ${param.model.width}px;
	height: ${param.model.height}px;
	$if(param.model.bgd.backgroundColor)
		background-color: $param.model.bgd.backgroundColor;
	$end
}

#ui-$param.model._id $param._empty .label label {
	font-family: $param.model.font.fontFamily;
	font-size: ${param.model.font.fontSize}px;
	$if(param.model.font.color)
		color: $param.model.font.color;
	$end
}

#ui-$param.model._id $param._empty .select select,
#ui-$param.model._id $param._empty .textarea textarea,
#ui-$param.model._id $param._empty .text input,
#ui-$param.model._id $param._empty .huxing .txt {
	$if(param.model.fbk)
		background-color: $param.model.fbk;
	$end
	$if(param.model.fontInput.color)
		color: $param.model.fontInput.color;
	$end
    font-family: $param.model.fontInput.fontFamily;
    font-size: ${param.model.fontInput.fontSize}px;
}

#ui-$param.model._id $param._empty .radio span,
#ui-$param.model._id $param._empty .checkbox span {
	$if(param.model.fontInput.color)
		color: $param.model.fontInput.color;
	$end
    font-family: $param.model.fontInput.fontFamily;
    font-size: ${param.model.fontInput.fontSize}px;
}

#ui-$param.model._id $param._empty .submit input {
	$if(param.model.button.wd > 0)
		width: ${param.model.button.wd}px;
	$end
    height: ${param.model.button.he}px;
    line-height: ${param.model.button.he}px;
    font-family: $param.model.button.font.fontFamily;
    font-size: ${param.model.button.font.fontSize}px;
    color: $param.model.button.font.color;
	$if(param.model.button.font.isBold)
    	font-weight: bold;
	$end
    border: ${param.model.button.border.w}px solid $param.model.button.border.color;
    border-radius: ${param.model.button.border.radius}px;
	$if(param.model.button.bgd.isImage)
		$if(param.model.button.bgd.backgroundImage)
			background: url($param.model.button.bgd.backgroundImage) center center no-repeat;
		$end
	$else
		$if(param.model.button.bgd.backgroundColor)
			background: $param.model.button.bgd.backgroundColor;
		$end
	$end
}

#ui-$param.model._id $param._empty .submit input:hover {
	$if(param.model.button.bgd.isImage)
		$if(param.model.button.sBgd.backgroundImage)
			background: url($param.model.button.sBgd.backgroundImage) center center no-repeat;
		$end
	$else
		$if(param.model.button.sBgd.backgroundColor)
			background: $param.model.button.sBgd.backgroundColor;
		$end
	$end
	color: $param.model.button.font.selectColor;
}

$if(param.model.isFreeLayout)
	#ui-$param.model._id $param._empty .main {
		height: 100%;
	}
	#ui-$param.model._id $param._empty .list {
		padding: 0;
		height: 100%;
	}
	#ui-$param.model._id $param._empty .rows {
		margin-bottom: 0;
	}
	#ui-$param.model._id $param._empty .inner {
		position: relative;
	}
	#ui-$param.model._id $param._empty .label {
		position: absolute;
		left: 0;
		top: -40px;
	}
$end

#ui-$param.model._id $param._empty input::-webkit-input-placeholder,
#ui-$param.model._id $param._empty textarea::-webkit-input-placeholder {
  color: $param.model.fontInput.color;
}

#ui-$param.model._id $param._empty input::-moz-placeholder,
#ui-$param.model._id $param._empty textarea::-moz-placeholder {
  color: $param.model.fontInput.color;
}

#ui-$param.model._id $param._empty input:-moz-placeholder,
#ui-$param.model._id $param._empty textarea:-moz-placeholder {
  color: $param.model.fontInput.color;
}

#ui-$param.model._id $param._empty input:-ms-input-placeholder,
#ui-$param.model._id $param._empty textarea:-ms-input-placeholder {
  color: $param.model.fontInput.color;
}
