#ui-$param.model._id $param._empty {
	background-color: $param.model.backgroundColor;
}

#ui-$param.model._id $param._empty .submit input {
	border-radius: ${param.model.button.border.radius}px;
	$if(param.model.button.border.color)
		border: 2px solid $param.model.button.border.color;
	$end	
	$if(param.model.button.bgd.backgroundColor)
		background: $param.model.button.bgd.backgroundColor;
	$end
	$if(param.model.button.font.color)
		color: $param.model.button.font.color;
	$end
}