$if(param.model.layout)
<div class="ui-navigation-drop" id="ui-d-$param.model._id">
    $foreach(item in param.model.permutation)
      $if(param.model.isFullmeasure || param.model.isFullmeasure == 'True')
          <div class="inner" style="background-color: $item.bgd.backgroundColor; background-image: url($item.bgd.backgroundImage); box-shadow: 0 10px 10px rgba(0,0,0,.2);">
              <div class="ui-control-layout center-$param.model.format">
                  <div class="ui-navigation-permutation">
                      $if(item.child)
                      <div style="position: relative; height: ${item.height}px;">
                          $item.child
                      </div>
                      $end
                  </div>
              </div>
          </div>
      $else
          <div class="inner">
            <div class="ui-control-layout center-$param.model.format">
                <div class="ui-navigation-permutation" style="background-color: ${item.bgd.backgroundColor}; background-image: url($item.bgd.backgroundImage); box-shadow: 0 10px 10px rgba(0,0,0,.2);">
                    $if(item.child)
                    <div style="position: relative; height: ${item.height}px;">
                        $item.child
                    </div>
                    $end
                </div>
            </div>
        </div>
      $end
    $end
</div>
$end

<div class="ui-navigation" id="ui-$param.model._id">
  <div class="inner">
    <div class="ui-control-layout center-$param.model.format pos-$param.model.textAlign">
      <ul class="list">
        $foreach(item in param.model.data)
          $if(item.isHidden == false)
          <li class="line">
              <i></i>
          </li>
          <li class="item">
            <a class="link" href="$item.url" target="$item.target" title="$item.title">
              <span>$item.title</span>
            </a>
            $if(param.model.layout == 0 && item.nodes)
            <div class="drop">
              <dl class="list2">
                $foreach(item2 in item.nodes)
                  $if(item2.isHidden == false)
                  <dd class="item2">
                    <a class="link2" href="$item2.url" target="$item2.target" title="$item2.title">
                      <span>$item2.title</span>
                    </a>
                    $if(item2.nodes && item2.nodes.length > 0)
                    <div class="drop2">
                      <i class="vt3"></i>
                      <dl class="list3">
                        $foreach(item3 in item2.nodes)
                          $if(item3.isHidden == false)
                          <dd class="item3">
                            <a class="link3" href="$item3.url" target="$item3.target" title="$item3.title">
                              <span>$item3.title</span>
                            </a>
                          </dd>
                          $end
                        $end
                      </dl>
                    </div>
                    $end
                  </dd>
                  $end
                $end
              </dl>
            </div>
            $end
          </li>
          $else
			    <li style="display: none;"></li>
        	<li style="display: none;"></li>
          $end
        $end
      </ul>
    </div>
  </div>
</div>