.ui-top-fix.is-False .ui-navigation-drop.is-fixed {
	position: fixed;
	top: ${param.model.firstStyle.height}px !important;
	z-index: 20;
}

#ui-$param.model._id {
	text-align: center;
	$if(param.model.isNarrow)
		width: ${param._width};
		margin: 0 auto;
	$end
}

#ui-$param.model._id $param._empty .ui-control-layout {
	$if(param.model.isNarrow)
		width: auto;
	$end
}

#ui-$param.model._id $param._empty .inner {
	text-align: ${param.model.textAlign};
	height: ${param.model.height}px;
	top: ${param.model.y}px;
	z-index: $param.model.z;
	$if(param.model.bgd.backgroundImage)
		background: url(${param.model.bgd.backgroundImage}) center center no-repeat;
	$else
		$if(param.model.backgroundColor)
            background-color: ${param.model.backgroundColor};
        $elseif(param.model.bgd.backgroundColor)
            background-color: ${param.model.bgd.backgroundColor};
        $end
	$end
	$if(param.model.isNarrow)
		left: ${param.model.x}px;
		width: ${param.model.width}px;
	$end
}

.ui-top-fix.is-False .ui-navigation.is-fixed .inner {
	position: fixed;
	top: 0 !important;
	z-index: 20;
}

#ui-$param.model._id $param._empty .list {
	display: inline-block;
	$if(param.model.firstStyle.height)
		height: ${param.model.firstStyle.height}px;
	$else
		height: ${param.model.height}px;
	$end
	text-align: center;
}

#ui-$param.model._id $param._empty .line {
	width: ${param.model.firstStyle.spaceWidth}px;
	height: ${param.model.firstStyle.height}px;
}

#ui-$param.model._id $param._empty .line i {
	height: ${param.model.firstStyle.spaceHeight}px;
	background-color: ${param.model.firstStyle.spaceColor};
}

#ui-$param.model._id $param._empty .item {
	width: ${param.model.firstStyle.width}px;
	background-color: ${param.model.firstStyle.backgroundColor};
	border-radius: ${param.model.firstStyle.radius}px;
}

#ui-$param.model._id $param._empty .link {
	box-sizing: border-box;
	$if(param.model.firstStyle.height)
		height: ${param.model.firstStyle.height}px;
		line-height: ${param.model.firstStyle.height}px;
	$else
		height: ${param.model.height}px;
		line-height: ${param.model.height}px;
	$end
	border-radius: ${param.model.firstStyle.radius}px;
	border-color: ${param.model.firstStyle.borderColor};
	border-style: solid;
	border-width: 0;
	$if(param.model.firstStyle.isBorderTop)
		border-top-width: ${param.model.firstStyle.borderSize}px;
	$end
	$if(param.model.firstStyle.isBorderBottom)
		border-bottom-width: ${param.model.firstStyle.borderSize}px;
	$end
	$if(param.model.firstStyle.isBorderLeft)
		border-left-width: ${param.model.firstStyle.borderSize}px;
	$end
	$if(param.model.firstStyle.isBorderRight)
		border-right-width: ${param.model.firstStyle.borderSize}px;
	$end
}

#ui-$param.model._id $param._empty .link span {
	font-size: ${param.model.firstStyle.fontSize}px;
	color: $param.model.firstStyle.fontColor;
	$if(param.model.firstStyle.isBold)
		font-weight: bold;
	$end
	$if(param.model.firstStyle.isItalics)
		font-style: italic;
	$end
	$if(param.model.firstStyle.isUnderline)
		text-decoration: underline;
	$end
}

#ui-$param.model._id $param._empty .item.hover .link {
	$if(param.model.firstStyle.hoverBackgroundColor)
		background-color: $param.model.firstStyle.hoverBackgroundColor;
	$else
		background-color: $param.model.hoverBackgroundColor;
	$end
	$if(param.model.firstStyle.hoverFontColor)
		color: $param.model.firstStyle.hoverFontColor
	$else
		color: $param.model.hoverFontColor;
	$end
}

#ui-$param.model._id $param._empty .item:hover .link span {
	color: ${param.model.firstStyle.hoverFontColor};
}

#ui-$param.model._id $param._empty .drop {
	$if(param.model.firstStyle.height)
		top: ${param.model.firstStyle.height}px
	$else
		top: ${param.model.height}px;
	$end
}

#ui-$param.model._id $param._empty .item2,
#ui-$param.model._id $param._empty .item3 {
	background-color: ${param.model.nextStyle.backgroundColor};
	border-radius: ${param.model.nextStyle.radius}px;

	border-radius: ${param.model.nextStyle.radius}px;
	border-color: ${param.model.nextStyle.borderColor};
	border-style: solid;
	border-width: 0;
	$if(param.model.nextStyle.isBorderTop)
		border-top-width: ${param.model.nextStyle.borderSize}px;
	$end
	$if(param.model.nextStyle.isBorderBottom)
		border-bottom-width: ${param.model.nextStyle.borderSize}px;
	$end
	$if(param.model.nextStyle.isBorderLeft)
		border-left-width: ${param.model.nextStyle.borderSize}px;
	$end
	$if(param.model.nextStyle.isBorderRight)
		border-right-width: ${param.model.nextStyle.borderSize}px;
	$end
}
#ui-$param.model._id $param._empty .item2:hover,
#ui-$param.model._id $param._empty .item3:hover {
	background-color: ${param.model.nextStyle.hoverBackgroundColor};
}

#ui-$param.model._id $param._empty .link2 span,
#ui-$param.model._id $param._empty .link3 span {
	color: ${param.model.nextStyle.fontColor};
	font-size: ${param.model.nextStyle.fontSize}px;
	text-align: $param.model.nextStyle.fontAlign;
	$if(param.model.nextStyle.isBold)
		font-weight: bold;
	$end
	$if(param.model.nextStyle.isItalics)
		font-style: italic;
	$end
	$if(param.model.nextStyle.isUnderline)
		text-decoration: underline;
	$end
}

#ui-$param.model._id $param._empty .item2:hover .link2 span,
#ui-$param.model._id $param._empty .item3:hover .link3 span {
	color: ${param.model.nextStyle.hoverFontColor};
}

#ui-$param.model._id $param._empty .vt3 {
	border-left-color: ${param.model.nextStyle.hoverBackgroundColor};
}