<div class="ui-article-events">
	<div class="ui-control-layout">
		<article class="event-article">
			<!--<h1>$param.categoryText</h1>-->
			<ul class="event-list">
				$foreach(node in param.data)
					<li>
						<a href="$node.link" title="$node.title">
							<h2 class="g-bor-font-color g-bor-color">$node.title</h2>
							<p>$node.describe</p>
							<div class="time">$node.createDate</div>
						</a>
					</li>
				$end
			</ul>
		</article>
		<div class="event-image">
			<a href="$param.bigLink"><img src="$param.bigPic" /></a>
		</div>
	</div>
</div>